.grid-login-container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
}
.grid-login-left {
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(../../Assets/lobbyfix-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-left-text {
  width: 63%;
}
.grid-left-text > span {
  font-size: 40px;
  color: white;
  font-weight: 500;
}
.grid-left-text > p {
  width: 65%;
  color: #fff;
  display: block;
  margin-top: 30px;
  line-height: 175%;
}
.grid-login-right {
  width: 50%;
  background-color: #fafbfc;

  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-login-content {
  width: 60%;
}
.grid-login-content > form {
  margin-top: 15px;
}
.grid-right-text > span {
  font-size: 30px;
  color: #3f80be;
  font-weight: 500;
}
.input-layout {
  height: 15px;
  margin-top: 7px;
  margin-bottom: 15px;
  padding: 13px 15px;
  display: flex;
  align-items: center;
  border: 1px solid #d4d4d6;
  background-color: #fff;
}
.input-layout > input {
  width: 90%;
  margin-left: 10px;
  border: none;
  outline: none;
}
.btn {
  border-color: transparent;
  background-color: #00abfd;
  color: #fff;
}
.btn-submit {
  width: 270px;
  height: 50px;
  border-radius: 2px;
  padding: 0 20px;
  letter-spacing: 0.8px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 300;
  touch-action: manipulation;
}
.error-alert {
  margin-top: 30px;
  padding: 5px;
  font-size: 12px;
  border: 1px solid red;
  border-radius: 5px;
  color: red;
  background: #ffe3e3;
}
